@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
:root {
    --primary-color: #0B1F39  ;
    --secondary-color: #76101E ;
    --accent1-color: #13376B;
    --accent2-color: #C2DDE4;
  
    --heading-font: "Orbitron", Helvetica, sans-serif;
    --paragraph-font: Lato, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
header {
    margin: 0;
}
.navbar {
    overflow: hidden;
    background-color: var(--accent1-color);
    height: 78px;

}
.navbar a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding:10px;
}
.dropdown {
    float: right;
    overflow: hidden;
    height: inherit;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Orbitron";
}
.button {
    background-color: inherit;
    font-family: inherit;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    height: inherit;

}
.navbar a:hover, .dropdown:hover {
    background-color: var(--secondary-color);
}
.dropdown-content {
    font-family: Lato;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    font-size: 14px;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/*main*/
main {
    background-color: var(--accent2-color);
    z-index: -2;
    margin: 0;
    padding: 0;
}
.homepage {
    height: 90vh;
}
.Intro {
    width: 75%;
    margin: auto;
    margin-top: 15px;
    align-self: center;
    font-size: 1.5em;
}
.mainHeading {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr;
}
.hero {
    width: 100%;
    z-index: 0;
    display: flex;
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 0;
}
.welcome {
    font-family: "Orbitron", Arial;
    font-size: 50px;
    color: white;
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    text-align: center;
    z-index: 1;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}
#class {
    display: grid;
    grid-template-columns: 1fr 600px;
    margin-left: 15px;
}
#skills, #race {
    margin-left: 15px;
    padding-bottom: 20px;
}
#class p {
    grid-column: 1/2;
}
.table {
    grid-column: 2/3;
    grid-row: 2/12;
    margin-top: 20px;
    margin-right: 20px;
    border: solid 3px var(--primary-color);
}
#class h1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
h1 {
    font-family: var(--heading-font);
    font-size: 5em;
}
h2 {
    margin-top: 10px;
    font-family: var(--heading-font);
}
h3 {

    font-family: var(--heading-font);
}
p {
    font-family: var(--paragraph-font);
    margin-bottom: 5px;
    max-width: 85%;
}
li {
    margin-left: 50px;
}

.additional-table {
    float: right;
    padding-right: 400px;
    padding-left: 20px;
}
.additional-table img {
    border: solid 3px var(--primary-color);
}
.engineer {
    display: grid;
    grid-template-columns: 1fr 600px;
    margin-left: 15px;
    padding-bottom: 20px;
}
.engineer-skills {
    grid-column: 1/2;
    grid-row: 1/5;
}
.engineer-table {
    grid-column: 2/3;
}
.engineer-table img {
    border: solid 3px var(--primary-color);
}
li {
    font-family: var(--paragraph-font);
}
#race-picture {
    float: right;
    margin-right: 50px;
    margin-left: 20px;
    border: solid 3px var(--primary-color);
}

/*footer*/
footer
{
    background-color: var(--accent1-color);
    margin: auto;
    padding: 0;
    height: 60px;
    font-family: var(--paragraph-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer p {
    text-align: left;
    height: inherit;
    margin: auto;
    padding-top: 8px;
    padding-left: 20px;
    color: white;
    font-size: 12px;
}
footer a {
    color: white;
    font-size: 16px;
}